{% for zone in zones %}
{% for interface in zone.interfaces %}
set security zones security-zone {{ zone.name }} interfaces {{ interface }}
{% endfor %}
{% if zone.services is defined %}
{% for service in zone.services %}
set security zones security-zone {{ zone.name }} host-inbound-traffic system-services {{ service }}
{% endfor %}
{% endif %}
{% if zone.protocols is defined %}
{% for protocol in zone.protocols %}
set security zones security-zone {{ zone.name }} host-inbound-traffic protocols {{ protocol }}
{% endfor %}
{% endif %}
{% endfor %}
